<%- include('partials/header', { currentPage: currentPage, isSupportoTecnico: isSupportoTecnico, nome: nome, email:
  email, id_web: id_web }) %>

  <h2>Lista di Segnalazioni</h2>


  <div class="container mt-5">
    <div class="row">
      <% segnalazioni.forEach(segnalazione=> { %>
        <div class="col-md-4">
          <div class="card mb-4">
            <div class="card-body">
              <h5 class="card-title">
                <%= segnalazione.luogo %>
              </h5>
              <h6 class="card-subtitle mb-3 text-muted">
                <%= new Date(segnalazione.data).toLocaleDateString() %>
              </h6>
              <p class="card-text">
                <strong>Status: </strong>
                <span
                  class="badge <%= segnalazione.status === 'aperta' ? 'badge-aperta' : segnalazione.status === 'presa_in_carico' ? 'badge-presa-in-carico' : 'badge-conclusa' %>">
                  <%= segnalazione.status==='aperta' ? 'Aperta' : segnalazione.status==='presa_in_carico'
                    ? 'Presa in carico' : 'Conclusa' %>
                </span>
              </p>
              <p class="card-text">
                <strong>Tipologia: </strong>
                <%= segnalazione.tipo%>
                  <br>
                  <strong>Urgenza: </strong>
                  <%= segnalazione.urgenza %>
              </p>
              <p class="card-text">
                <i class="fa-solid fa-location-dot icon_segnalazioni" data-bs-toggle="modal"
                  data-bs-target="#imageModal" onclick="openImage('<%= segnalazione.map_img %>')"></i>
                <span class="iconText_segnalazioni" data-bs-toggle="modal" data-bs-target="#imageModal"
                  onclick="openImage('<%= segnalazione.map_img %>')">Posizione</span>

                <i class="fa-solid fa-image icon_segnalazioni" data-bs-toggle="modal" data-bs-target="#imageModal"
                  onclick="openImage('<%= segnalazione.foto %>')"></i>
                <span class="iconText_segnalazioni" data-bs-toggle="modal" data-bs-target="#imageModal"
                  onclick="openImage('<%= segnalazione.foto %>')">Foto</span>
              </p>
              <p class="card-text ">
                <button type="button" class="btn btn-primary" onclick="openStatusModal('<%= segnalazione._id %>')">
                  <i class="fa-solid fa-pencil me-2"></i> Cambia Status
                </button>
            </div>
          </div>
        </div>
        <% }); %>
    </div>
  </div>



  <% segnalazioni.forEach(segnalazione=> { %>
    <form id="formModal_<%= segnalazione._id %>" action="" method="POST">
      <div class="modal" id="statusModal_<%= segnalazione._id %>" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel"> <i class="fa-solid fa-pencil me-2"></i> Cambia Stato</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <select class="form-select" id="statusSelect" name="status">
                <option selected disabled>Seleziona lo stato</option>
                <option value="aperta">Aperta</option>
                <option value="presa_in_carico">Presa in carico</option>
                <option value="conclusa">Conclusa</option>
              </select>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
              <button type="submit" class="btn btn-primary">
                <i class="fa-solid fa-floppy-disk me-2"></i>Salva</button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <% }); %>

      <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="imageModalLabel">Immagine</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
              <img id="imagePreview" src="" alt="Immagine" style="max-width: 100%; max-height: 80vh;">
            </div>
          </div>
        </div>
      </div>


      <script>
        function openImage(url) {
          const imagePreview = document.getElementById('imagePreview');
          imagePreview.src = url;
        }

        function openStatusModal(segnalazioneId) {
          const modal = document.getElementById(`statusModal_${segnalazioneId}`);

          const form = document.getElementById(`formModal_${segnalazioneId}`);
          console.log("Elemento form:", form);

          form.action = `/segnalazioni/${segnalazioneId}?_method=PUT`;
          const bsModal = new bootstrap.Modal(modal);
          bsModal.show();
        }
      </script>

      <%- include('partials/footer') %>